* {
    padding: 0;
    margin: 0;
    background: black;
  }
  
  svg {
    /* background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);   */
    background-color: black;
    margin: auto;
    margin-top: 14%;
    display: block;
  }